*{ 
    margin: 0;
    padding: 0;
font-family: sans-serif;}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75)),url("./Bike3.jpeg");

    background-size: cover;
    background-position: center;
    
} 



.container{
    width: 700px;
    height: 425px;
    background-color:rgba(243, 243, 243, 0.371);
    position: absolute;
    left: 70%;
    bottom: 40%;
    transform: translate(-50%, 50%);
    border-radius: 10px;


}
.inner-container{
    width:600px;
    height: 387px;
    border: 1px solid red;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    border-radius: 8px;
    overflow: hidden;
    

}
.slider{
    display: inline-flex;
    transition: all 1s;
    
}

.btns{
    position:absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, 50%);
}

.btns button{
    width: 12px;
    height: 12px;
    border: 2px solid white;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.btns button:nth-child(1){
    background-color: white;
    
}

.slider img{
    width: 600px;
    border-radius: 8px;


}
.container2{
    height: 400px;
    width: 900px;
    background-color:rgba(243, 243, 243, 0.371);
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, 50%);
    border-radius: 10px;


}
.inner-container2{
    height:300px;
    width: 800px;
    border: 1px solid red;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    border-radius: 8px;
    overflow: hidden;
    

}
.slider2{
    display: inline-flex;
    transition: all 1s;
    
}

.btns2{
    position:absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, 50%);
}

.btns2 button{
    width: 12px;
    height: 12px;
    border: 2px solid white;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.btns2 button:nth-child(1){
    background-color: white;
    
}

.slider2 img{
    width: 200px;
    border-radius: 8px;


}

#image{
    display: block;
    margin-left: 50%;
    width: 200px;
    transition: 0.3s;
}
body {
    background-size: 100%;
    background-image: url("bikeCopy.jpeg");
    background-color: #cccccc;
   }  


.navbar{
    width: 85%;
    margin: auto;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 120px;
    cursor: pointer;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.navbar ul li:hover::after{
    width: 100%;
    
}

.content{
    margin-top:1%;
    margin-left: 12%;
    color: #fff;
    background: black;
    background-color: rgba(0, 0, 0, 0.356);
    width: 30%;
    border-radius: 10pX;
    box-shadow: 0 5px 25px 0 
                rgba(0,0,0,0.25);
    padding: 100px 0px 115px 15px;
}

.content h1 {
    text-align: center;
    
}

.content p {
    margin-top: 5%;
    text-align: center;
}


.footer
 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
 }
.footer{
    text-align: center; 
    color: #fff;
    position: absolute;
    margin-top: -5%;
    margin-left: 19%;
}

.social-icon{
    color: white;
    transition: color 0.2s;
    
}

.social-icon:hover{
    color:#009620
}
ion-icon {
    height: 50px;
    width: 50px; 
    }
